MockBootstrapper/GGPMock.Core/Service References/InstallationProgressFeedbackService/mex1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GGPGameServer.Installer.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GGPGameServer.Installer.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BeginInstallationRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActionsCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BeginInstallationRequest" nillable="true" type="tns:BeginInstallationRequest" />
  <xs:complexType name="BeginExecuteActionRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActionsCount" type="xs:int" />
      <xs:element minOccurs="0" name="CurrentActionDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrentActionIndex" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BeginExecuteActionRequest" nillable="true" type="tns:BeginExecuteActionRequest" />
  <xs:complexType name="EndExecuteActionRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActionsCount" type="xs:int" />
      <xs:element minOccurs="0" name="CurrentActionDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrentActionIndex" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EndExecuteActionRequest" nillable="true" type="tns:EndExecuteActionRequest" />
  <xs:complexType name="EndInstallationRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EndInstallationRequest" nillable="true" type="tns:EndInstallationRequest" />
</xs:schema>