MockBootstrapper/GGPMock.Core/Service References/InstallationProgressFeedbackService/mex2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8687/InstallationProgressFeedbackService/mex?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GGPGameServer.Installer.Models" />
  <xs:element name="Subscribe">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BeginInstallation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GGPGameServer.Installer.Models" minOccurs="0" name="request" nillable="true" type="q1:BeginInstallationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BeginExecuteAction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GGPGameServer.Installer.Models" minOccurs="0" name="request" nillable="true" type="q2:BeginExecuteActionRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndExecuteAction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GGPGameServer.Installer.Models" minOccurs="0" name="request" nillable="true" type="q3:EndExecuteActionRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndInstallation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GGPGameServer.Installer.Models" minOccurs="0" name="request" nillable="true" type="q4:EndInstallationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>