LayoutTool/src/Models/Service References/LayoutToolService/GamesPortal.Service.LayoutTool.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GamesPortal.Service.LayoutTool" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GamesPortal.Service.LayoutTool" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/GamesPortal.Service.Entities.LayoutTool" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/GamesPortal.Service.Entities" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="DownloadFileContentRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DownloadFileContentRequest" nillable="true" type="tns:DownloadFileContentRequest" />
  <xs:complexType name="DownloadFileContentResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HttpErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="HttpErrorDescription" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DownloadFileContentResponse" nillable="true" type="tns:DownloadFileContentResponse" />
  <xs:complexType name="GetGamesInfoRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="BrandId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetGamesInfoRequest" nillable="true" type="tns:GetGamesInfoRequest" />
  <xs:complexType name="GetGamesInfoResponse">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GamesPortal.Service.Entities.LayoutTool" minOccurs="0" name="Games" nillable="true" type="q1:ArrayOfGameInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetGamesInfoResponse" nillable="true" type="tns:GetGamesInfoResponse" />
  <xs:complexType name="GetCountriesResponse">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GamesPortal.Service.Entities" minOccurs="0" name="Countries" nillable="true" type="q2:ArrayOfCountryDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetCountriesResponse" nillable="true" type="tns:GetCountriesResponse" />
  <xs:complexType name="GetCurrenciesResponse">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GamesPortal.Service.Entities" minOccurs="0" name="Currencies" nillable="true" type="q3:ArrayOfCurrencyDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetCurrenciesResponse" nillable="true" type="tns:GetCurrenciesResponse" />
  <xs:complexType name="GetAllJackpotIdsResponse">
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="JackpotIds" nillable="true" type="q4:ArrayOfint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAllJackpotIdsResponse" nillable="true" type="tns:GetAllJackpotIdsResponse" />
  <xs:complexType name="ReadLayoutFromTfsRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="ServerFilePath" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReadLayoutFromTfsRequest" nillable="true" type="tns:ReadLayoutFromTfsRequest" />
  <xs:complexType name="ReadLayoutFromTfsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileContent" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReadLayoutFromTfsResponse" nillable="true" type="tns:ReadLayoutFromTfsResponse" />
</xs:schema>