LayoutTool/src/Models/Service References/LayoutToolService/GamesPortal.Service.Entities.LayoutTool.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GamesPortal.Service.Entities.LayoutTool" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GamesPortal.Service.Entities.LayoutTool" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfGameInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GameInfo" nillable="true" type="tns:GameInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGameInfo" nillable="true" type="tns:ArrayOfGameInfo" />
  <xs:complexType name="GameInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="GameGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GameType" type="xs:int" />
      <xs:element minOccurs="0" name="GameVendor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsApproved" nillable="true" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="JackpotIds" nillable="true" type="q1:ArrayOfint" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameInfo" nillable="true" type="tns:GameInfo" />
</xs:schema>