LayoutTool/src/Models/Service References/LayoutToolService/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LayoutToolService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/GamesPortal.Service.LayoutTool" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/GamesPortal.Service.Entities.LayoutTool" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/GamesPortal.Service.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILayoutToolService_DownloadFileContent_InputMessage">
    <wsdl:part name="parameters" element="tns:DownloadFileContent" />
  </wsdl:message>
  <wsdl:message name="ILayoutToolService_DownloadFileContent_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownloadFileContentResponse" />
  </wsdl:message>
  <wsdl:message name="ILayoutToolService_GetGamesInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGamesInfo" />
  </wsdl:message>
  <wsdl:message name="ILayoutToolService_GetGamesInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGamesInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ILayoutToolService_GetCountries_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCountries" />
  </wsdl:message>
  <wsdl:message name="ILayoutToolService_GetCountries_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountriesResponse" />
  </wsdl:message>
  <wsdl:message name="ILayoutToolService_GetCurrencies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrencies" />
  </wsdl:message>
  <wsdl:message name="ILayoutToolService_GetCurrencies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrenciesResponse" />
  </wsdl:message>
  <wsdl:message name="ILayoutToolService_GetAllJackpotIds_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllJackpotIds" />
  </wsdl:message>
  <wsdl:message name="ILayoutToolService_GetAllJackpotIds_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllJackpotIdsResponse" />
  </wsdl:message>
  <wsdl:message name="ILayoutToolService_ReadLayoutFromTfs_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadLayoutFromTfs" />
  </wsdl:message>
  <wsdl:message name="ILayoutToolService_ReadLayoutFromTfs_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadLayoutFromTfsResponse" />
  </wsdl:message>
  <wsdl:portType name="ILayoutToolService">
    <wsdl:operation name="DownloadFileContent">
      <wsdl:input wsaw:Action="http://tempuri.org/ILayoutToolService/DownloadFileContent" message="tns:ILayoutToolService_DownloadFileContent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILayoutToolService/DownloadFileContentResponse" message="tns:ILayoutToolService_DownloadFileContent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGamesInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/ILayoutToolService/GetGamesInfo" message="tns:ILayoutToolService_GetGamesInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILayoutToolService/GetGamesInfoResponse" message="tns:ILayoutToolService_GetGamesInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCountries">
      <wsdl:input wsaw:Action="http://tempuri.org/ILayoutToolService/GetCountries" message="tns:ILayoutToolService_GetCountries_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILayoutToolService/GetCountriesResponse" message="tns:ILayoutToolService_GetCountries_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrencies">
      <wsdl:input wsaw:Action="http://tempuri.org/ILayoutToolService/GetCurrencies" message="tns:ILayoutToolService_GetCurrencies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILayoutToolService/GetCurrenciesResponse" message="tns:ILayoutToolService_GetCurrencies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllJackpotIds">
      <wsdl:input wsaw:Action="http://tempuri.org/ILayoutToolService/GetAllJackpotIds" message="tns:ILayoutToolService_GetAllJackpotIds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILayoutToolService/GetAllJackpotIdsResponse" message="tns:ILayoutToolService_GetAllJackpotIds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadLayoutFromTfs">
      <wsdl:input wsaw:Action="http://tempuri.org/ILayoutToolService/ReadLayoutFromTfs" message="tns:ILayoutToolService_ReadLayoutFromTfs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILayoutToolService/ReadLayoutFromTfsResponse" message="tns:ILayoutToolService_ReadLayoutFromTfs_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILayoutToolService" type="tns:ILayoutToolService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DownloadFileContent">
      <soap:operation soapAction="http://tempuri.org/ILayoutToolService/DownloadFileContent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGamesInfo">
      <soap:operation soapAction="http://tempuri.org/ILayoutToolService/GetGamesInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountries">
      <soap:operation soapAction="http://tempuri.org/ILayoutToolService/GetCountries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencies">
      <soap:operation soapAction="http://tempuri.org/ILayoutToolService/GetCurrencies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllJackpotIds">
      <soap:operation soapAction="http://tempuri.org/ILayoutToolService/GetAllJackpotIds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadLayoutFromTfs">
      <soap:operation soapAction="http://tempuri.org/ILayoutToolService/ReadLayoutFromTfs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LayoutToolService">
    <wsdl:port name="BasicHttpBinding_ILayoutToolService" binding="tns:BasicHttpBinding_ILayoutToolService">
      <soap:address location="http://localhost/LayoutToolService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>