LayoutTool/src/Models/Service References/LayoutToolService/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/GamesPortal.Service.LayoutTool" />
  <xs:element name="DownloadFileContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GamesPortal.Service.LayoutTool" minOccurs="0" name="request" nillable="true" type="q1:DownloadFileContentRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadFileContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GamesPortal.Service.LayoutTool" minOccurs="0" name="DownloadFileContentResult" nillable="true" type="q2:DownloadFileContentResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGamesInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GamesPortal.Service.LayoutTool" minOccurs="0" name="request" nillable="true" type="q3:GetGamesInfoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGamesInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GamesPortal.Service.LayoutTool" minOccurs="0" name="GetGamesInfoResult" nillable="true" type="q4:GetGamesInfoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountries">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GamesPortal.Service.LayoutTool" minOccurs="0" name="GetCountriesResult" nillable="true" type="q5:GetCountriesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrencies">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrenciesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GamesPortal.Service.LayoutTool" minOccurs="0" name="GetCurrenciesResult" nillable="true" type="q6:GetCurrenciesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllJackpotIds">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllJackpotIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/GamesPortal.Service.LayoutTool" minOccurs="0" name="GetAllJackpotIdsResult" nillable="true" type="q7:GetAllJackpotIdsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadLayoutFromTfs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/GamesPortal.Service.LayoutTool" minOccurs="0" name="request" nillable="true" type="q8:ReadLayoutFromTfsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadLayoutFromTfsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/GamesPortal.Service.LayoutTool" minOccurs="0" name="ReadLayoutFromTfsResult" nillable="true" type="q9:ReadLayoutFromTfsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>