MockBootstrapper/GGPMock.Core/Service References/MockHistoryRecordsProvider/MockHistoryRecordsProvider.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MockHistoryRecordsProvider" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.105.12.30:8687/MockHistoryRecordsProvider?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.105.12.30:8687/MockHistoryRecordsProvider?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.105.12.30:8687/MockHistoryRecordsProvider?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GGPGameServer.Simulations.GGPMock.History" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMockHistoryRecordsProvider_GetAllRecords_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRecords" />
  </wsdl:message>
  <wsdl:message name="IMockHistoryRecordsProvider_GetAllRecords_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="IMockHistoryRecordsProvider_GetGameRecords_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGameRecords" />
  </wsdl:message>
  <wsdl:message name="IMockHistoryRecordsProvider_GetGameRecords_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGameRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="IMockHistoryRecordsProvider_ClearAllRecords_InputMessage">
    <wsdl:part name="parameters" element="tns:ClearAllRecords" />
  </wsdl:message>
  <wsdl:message name="IMockHistoryRecordsProvider_ClearAllRecords_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClearAllRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="IMockHistoryRecordsProvider_ClearGameRecords_InputMessage">
    <wsdl:part name="parameters" element="tns:ClearGameRecords" />
  </wsdl:message>
  <wsdl:message name="IMockHistoryRecordsProvider_ClearGameRecords_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClearGameRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="IMockHistoryRecordsProvider_LoadRecords_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadRecords" />
  </wsdl:message>
  <wsdl:message name="IMockHistoryRecordsProvider_LoadRecords_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="IMockHistoryRecordsProvider_RemoveRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveRecord" />
  </wsdl:message>
  <wsdl:message name="IMockHistoryRecordsProvider_RemoveRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveRecordResponse" />
  </wsdl:message>
  <wsdl:portType name="IMockHistoryRecordsProvider">
    <wsdl:operation name="GetAllRecords">
      <wsdl:input wsaw:Action="http://tempuri.org/IMockHistoryRecordsProvider/GetAllRecords" message="tns:IMockHistoryRecordsProvider_GetAllRecords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMockHistoryRecordsProvider/GetAllRecordsResponse" message="tns:IMockHistoryRecordsProvider_GetAllRecords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGameRecords">
      <wsdl:input wsaw:Action="http://tempuri.org/IMockHistoryRecordsProvider/GetGameRecords" message="tns:IMockHistoryRecordsProvider_GetGameRecords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMockHistoryRecordsProvider/GetGameRecordsResponse" message="tns:IMockHistoryRecordsProvider_GetGameRecords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClearAllRecords">
      <wsdl:input wsaw:Action="http://tempuri.org/IMockHistoryRecordsProvider/ClearAllRecords" message="tns:IMockHistoryRecordsProvider_ClearAllRecords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMockHistoryRecordsProvider/ClearAllRecordsResponse" message="tns:IMockHistoryRecordsProvider_ClearAllRecords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClearGameRecords">
      <wsdl:input wsaw:Action="http://tempuri.org/IMockHistoryRecordsProvider/ClearGameRecords" message="tns:IMockHistoryRecordsProvider_ClearGameRecords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMockHistoryRecordsProvider/ClearGameRecordsResponse" message="tns:IMockHistoryRecordsProvider_ClearGameRecords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadRecords">
      <wsdl:input wsaw:Action="http://tempuri.org/IMockHistoryRecordsProvider/LoadRecords" message="tns:IMockHistoryRecordsProvider_LoadRecords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMockHistoryRecordsProvider/LoadRecordsResponse" message="tns:IMockHistoryRecordsProvider_LoadRecords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/IMockHistoryRecordsProvider/RemoveRecord" message="tns:IMockHistoryRecordsProvider_RemoveRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMockHistoryRecordsProvider/RemoveRecordResponse" message="tns:IMockHistoryRecordsProvider_RemoveRecord_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMockHistoryRecordsProvider" type="tns:IMockHistoryRecordsProvider">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllRecords">
      <soap:operation soapAction="http://tempuri.org/IMockHistoryRecordsProvider/GetAllRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGameRecords">
      <soap:operation soapAction="http://tempuri.org/IMockHistoryRecordsProvider/GetGameRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearAllRecords">
      <soap:operation soapAction="http://tempuri.org/IMockHistoryRecordsProvider/ClearAllRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearGameRecords">
      <soap:operation soapAction="http://tempuri.org/IMockHistoryRecordsProvider/ClearGameRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadRecords">
      <soap:operation soapAction="http://tempuri.org/IMockHistoryRecordsProvider/LoadRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveRecord">
      <soap:operation soapAction="http://tempuri.org/IMockHistoryRecordsProvider/RemoveRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MockHistoryRecordsProvider">
    <wsdl:port name="BasicHttpBinding_IMockHistoryRecordsProvider" binding="tns:BasicHttpBinding_IMockHistoryRecordsProvider">
      <soap:address location="http://10.105.12.30:8687/MockHistoryRecordsProvider" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>