MockBootstrapper/GGPMock.Core/Service References/OpenSessionProviderService/GGPMockOpenSessionProviderService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GGPMockOpenSessionProviderService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8687/GGPMockOpenSessionProviderService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8687/GGPMockOpenSessionProviderService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8687/GGPMockOpenSessionProviderService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GGPGameServer.Simulations.GGPMock" />
      <xsd:import schemaLocation="http://localhost:8687/GGPMockOpenSessionProviderService?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGGPMockOpenSessionProviderService_GetOpenSessions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOpenSessions" />
  </wsdl:message>
  <wsdl:message name="IGGPMockOpenSessionProviderService_GetOpenSessions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOpenSessionsResponse" />
  </wsdl:message>
  <wsdl:message name="IGGPMockOpenSessionProviderService_LoadDisconnection_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadDisconnection" />
  </wsdl:message>
  <wsdl:message name="IGGPMockOpenSessionProviderService_LoadDisconnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadDisconnectionResponse" />
  </wsdl:message>
  <wsdl:message name="IGGPMockOpenSessionProviderService_GetOptions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOptions" />
  </wsdl:message>
  <wsdl:message name="IGGPMockOpenSessionProviderService_GetOptions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOptionsResponse" />
  </wsdl:message>
  <wsdl:portType name="IGGPMockOpenSessionProviderService">
    <wsdl:operation name="GetOpenSessions">
      <wsdl:input wsaw:Action="http://tempuri.org/IGGPMockOpenSessionProviderService/GetOpenSessions" message="tns:IGGPMockOpenSessionProviderService_GetOpenSessions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGGPMockOpenSessionProviderService/GetOpenSessionsResponse" message="tns:IGGPMockOpenSessionProviderService_GetOpenSessions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadDisconnection">
      <wsdl:input wsaw:Action="http://tempuri.org/IGGPMockOpenSessionProviderService/LoadDisconnection" message="tns:IGGPMockOpenSessionProviderService_LoadDisconnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGGPMockOpenSessionProviderService/LoadDisconnectionResponse" message="tns:IGGPMockOpenSessionProviderService_LoadDisconnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOptions">
      <wsdl:input wsaw:Action="http://tempuri.org/IGGPMockOpenSessionProviderService/GetOptions" message="tns:IGGPMockOpenSessionProviderService_GetOptions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGGPMockOpenSessionProviderService/GetOptionsResponse" message="tns:IGGPMockOpenSessionProviderService_GetOptions_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGGPMockOpenSessionProviderService" type="tns:IGGPMockOpenSessionProviderService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOpenSessions">
      <soap:operation soapAction="http://tempuri.org/IGGPMockOpenSessionProviderService/GetOpenSessions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadDisconnection">
      <soap:operation soapAction="http://tempuri.org/IGGPMockOpenSessionProviderService/LoadDisconnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOptions">
      <soap:operation soapAction="http://tempuri.org/IGGPMockOpenSessionProviderService/GetOptions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GGPMockOpenSessionProviderService">
    <wsdl:port name="BasicHttpBinding_IGGPMockOpenSessionProviderService" binding="tns:BasicHttpBinding_IGGPMockOpenSessionProviderService">
      <soap:address location="http://localhost:8687/GGPMockOpenSessionProviderService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>