Portal/Client/Head/src/Models/Service References/GamesPortalService/GamesPortalService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GamesPortalService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8687/GamesPortalService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8687/GamesPortalService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8687/GamesPortalService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GamesPortal.Service" />
      <xsd:import schemaLocation="http://localhost:8687/GamesPortalService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GamesPortal.Service.Entities" />
      <xsd:import schemaLocation="http://localhost:8687/GamesPortalService?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGamesPortalService_GetAllGames_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllGames" />
  </wsdl:message>
  <wsdl:message name="IGamesPortalService_GetAllGames_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllGamesResponse" />
  </wsdl:message>
  <wsdl:message name="IGamesPortalService_GetGameVersions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGameVersions" />
  </wsdl:message>
  <wsdl:message name="IGamesPortalService_GetGameVersions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGameVersionsResponse" />
  </wsdl:message>
  <wsdl:message name="IGamesPortalService_GetLatestApprovedVersionForEachGame_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestApprovedVersionForEachGame" />
  </wsdl:message>
  <wsdl:message name="IGamesPortalService_GetLatestApprovedVersionForEachGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestApprovedVersionForEachGameResponse" />
  </wsdl:message>
  <wsdl:message name="IGamesPortalService_ResyncGames_InputMessage">
    <wsdl:part name="parameters" element="tns:ResyncGames" />
  </wsdl:message>
  <wsdl:message name="IGamesPortalService_ResyncGames_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResyncGamesResponse" />
  </wsdl:message>
  <wsdl:portType name="IGamesPortalService">
    <wsdl:operation name="GetAllGames">
      <wsdl:input wsaw:Action="http://tempuri.org/IGamesPortalService/GetAllGames" message="tns:IGamesPortalService_GetAllGames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGamesPortalService/GetAllGamesResponse" message="tns:IGamesPortalService_GetAllGames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGameVersions">
      <wsdl:input wsaw:Action="http://tempuri.org/IGamesPortalService/GetGameVersions" message="tns:IGamesPortalService_GetGameVersions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGamesPortalService/GetGameVersionsResponse" message="tns:IGamesPortalService_GetGameVersions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestApprovedVersionForEachGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGamesPortalService/GetLatestApprovedVersionForEachGame" message="tns:IGamesPortalService_GetLatestApprovedVersionForEachGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGamesPortalService/GetLatestApprovedVersionForEachGameResponse" message="tns:IGamesPortalService_GetLatestApprovedVersionForEachGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResyncGames">
      <wsdl:input wsaw:Action="http://tempuri.org/IGamesPortalService/ResyncGames" message="tns:IGamesPortalService_ResyncGames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGamesPortalService/ResyncGamesResponse" message="tns:IGamesPortalService_ResyncGames_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGamesPortalService" type="tns:IGamesPortalService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllGames">
      <soap:operation soapAction="http://tempuri.org/IGamesPortalService/GetAllGames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGameVersions">
      <soap:operation soapAction="http://tempuri.org/IGamesPortalService/GetGameVersions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestApprovedVersionForEachGame">
      <soap:operation soapAction="http://tempuri.org/IGamesPortalService/GetLatestApprovedVersionForEachGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResyncGames">
      <soap:operation soapAction="http://tempuri.org/IGamesPortalService/ResyncGames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GamesPortalService">
    <wsdl:port name="BasicHttpBinding_IGamesPortalService" binding="tns:BasicHttpBinding_IGamesPortalService">
      <soap:address location="http://localhost:8687/GamesPortalService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>