LayoutTool/src/Models/Service References/LayoutToolPublisherService/LayoutToolPublisher2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GamesPortal.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GamesPortal.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PublishSkinToQARequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PublishSkinRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="Environment" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PublishSkinToQARequest" nillable="true" type="tns:PublishSkinToQARequest" />
  <xs:complexType name="PublishSkinRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="BrandId" type="xs:int" />
      <xs:element minOccurs="0" name="ClientVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HasWarnings" type="xs:boolean" />
      <xs:element minOccurs="0" name="SkinContent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SkinId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PublishSkinRequest" nillable="true" type="tns:PublishSkinRequest" />
  <xs:complexType name="PublishSkinToProductionRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PublishSkinRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="NavigationPlanContent" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PublishSkinToProductionRequest" nillable="true" type="tns:PublishSkinToProductionRequest" />
  <xs:complexType name="GetCurrentProductionNavigationPlanRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="BrandId" type="xs:int" />
      <xs:element minOccurs="0" name="ClientVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientVersionJobNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SkinId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetCurrentProductionNavigationPlanRequest" nillable="true" type="tns:GetCurrentProductionNavigationPlanRequest" />
  <xs:complexType name="GetCurrentProductionNavigationPlanResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="NavigationPlanContent" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetCurrentProductionNavigationPlanResponse" nillable="true" type="tns:GetCurrentProductionNavigationPlanResponse" />
</xs:schema>