LayoutTool/src/Models/Service References/LayoutToolPublisherService/LayoutToolPublisher1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/LayoutToolPublisher?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GamesPortal.Service" />
  <xs:element name="PublishSkinForQA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GamesPortal.Service" minOccurs="0" name="request" nillable="true" type="q1:PublishSkinToQARequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PublishSkinForQAResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PublishSkinForProduction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GamesPortal.Service" minOccurs="0" name="request" nillable="true" type="q2:PublishSkinToProductionRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PublishSkinForProductionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentProductionNavigationPlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GamesPortal.Service" minOccurs="0" name="request" nillable="true" type="q3:GetCurrentProductionNavigationPlanRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentProductionNavigationPlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GamesPortal.Service" minOccurs="0" name="GetCurrentProductionNavigationPlanResult" nillable="true" type="q4:GetCurrentProductionNavigationPlanResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>