Portal/Client/Head/src/Models/Service References/GamesPortalHubContracts/GamesPortalHubContext2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/GamesPortal.Service.SignalR" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GamesPortal.Service.SignalR" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/GamesPortalHubContext?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GamesPortal.Service" />
  <xs:import schemaLocation="http://localhost/GamesPortalHubContext?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="GameSynchronizationFinishedData">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GamesPortal.Service" minOccurs="0" name="ChangeType" type="q1:RecordChangeType" />
      <xs:element minOccurs="0" name="GameId" type="ser:guid" />
      <xs:element minOccurs="0" name="IsExternal" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameSynchronizationFinishedData" nillable="true" type="tns:GameSynchronizationFinishedData" />
  <xs:complexType name="FullGamesSynchronizationFinishedData">
    <xs:sequence>
      <xs:element minOccurs="0" name="SynchronizationTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SynchronizedBy" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FullGamesSynchronizationFinishedData" nillable="true" type="tns:FullGamesSynchronizationFinishedData" />
</xs:schema>