Portal/Client/Head/src/Models/Service References/GamesPortalHubContracts/GamesPortalHubContext.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GamesPortalHubContext" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/GamesPortalHubContext?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/GamesPortalHubContext?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/GamesPortalHubContext?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GamesPortal.Service.SignalR" />
      <xsd:import schemaLocation="http://localhost/GamesPortalHubContext?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GamesPortal.Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGamesPortalHubContext_GameSynchronizationFinished_InputMessage">
    <wsdl:part name="parameters" element="tns:GameSynchronizationFinished" />
  </wsdl:message>
  <wsdl:message name="IGamesPortalHubContext_GameSynchronizationFinished_OutputMessage">
    <wsdl:part name="parameters" element="tns:GameSynchronizationFinishedResponse" />
  </wsdl:message>
  <wsdl:message name="IGamesPortalHubContext_FullGamesSynchronizationFinished_InputMessage">
    <wsdl:part name="parameters" element="tns:FullGamesSynchronizationFinished" />
  </wsdl:message>
  <wsdl:message name="IGamesPortalHubContext_FullGamesSynchronizationFinished_OutputMessage">
    <wsdl:part name="parameters" element="tns:FullGamesSynchronizationFinishedResponse" />
  </wsdl:message>
  <wsdl:portType name="IGamesPortalHubContext">
    <wsdl:operation name="GameSynchronizationFinished">
      <wsdl:input wsaw:Action="http://tempuri.org/IGamesPortalHubContext/GameSynchronizationFinished" message="tns:IGamesPortalHubContext_GameSynchronizationFinished_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGamesPortalHubContext/GameSynchronizationFinishedResponse" message="tns:IGamesPortalHubContext_GameSynchronizationFinished_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FullGamesSynchronizationFinished">
      <wsdl:input wsaw:Action="http://tempuri.org/IGamesPortalHubContext/FullGamesSynchronizationFinished" message="tns:IGamesPortalHubContext_FullGamesSynchronizationFinished_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGamesPortalHubContext/FullGamesSynchronizationFinishedResponse" message="tns:IGamesPortalHubContext_FullGamesSynchronizationFinished_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGamesPortalHubContext" type="tns:IGamesPortalHubContext">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GameSynchronizationFinished">
      <soap:operation soapAction="http://tempuri.org/IGamesPortalHubContext/GameSynchronizationFinished" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FullGamesSynchronizationFinished">
      <soap:operation soapAction="http://tempuri.org/IGamesPortalHubContext/FullGamesSynchronizationFinished" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GamesPortalHubContext">
    <wsdl:port name="BasicHttpBinding_IGamesPortalHubContext" binding="tns:BasicHttpBinding_IGamesPortalHubContext">
      <soap:address location="http://localhost/GamesPortalHubContext" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>