MockBootstrapper/GGPMock.Core/Service References/GGPMockLoggerService/GGPMockLoggerService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8687/GGPMockLoggerService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GGPGameServer.Simulations.GGPMock.Logging" />
  <xs:element name="IsAlive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAliveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsAliveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Subscribe">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Log">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GGPGameServer.Simulations.GGPMock.Logging" minOccurs="0" name="message" nillable="true" type="q1:GGPMockLoggerMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>