MockBootstrapper/GGPMock.Core/Service References/GGPMockLoggerService/GGPMockLoggerService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GGPGameServer.Simulations.GGPMock.Logging" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GGPGameServer.Simulations.GGPMock.Logging" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GGPMockLoggerMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateAndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Priority" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GGPMockLoggerMessage" nillable="true" type="tns:GGPMockLoggerMessage" />
</xs:schema>