LayoutTool/src/Interfaces/Service References/MainProxyDataControlService/DataControlService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MainProxyMock" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MainProxyMock" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/MainProxyMock/DataControlService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GGPGameServer.Simulations.GGPMock" />
  <xs:import schemaLocation="http://localhost/MainProxyMock/DataControlService?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="GetServerInfoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Port" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetServerInfoResponse" nillable="true" type="tns:GetServerInfoResponse" />
  <xs:complexType name="GetPlayerDataRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="CID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetPlayerDataRequest" nillable="true" type="tns:GetPlayerDataRequest" />
  <xs:complexType name="GetPlayerDataResponse">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GGPGameServer.Simulations.GGPMock" minOccurs="0" name="PlayerData" nillable="true" type="q1:PlayerData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetPlayerDataResponse" nillable="true" type="tns:GetPlayerDataResponse" />
  <xs:complexType name="SetPlayerDataRequest">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GGPGameServer.Simulations.GGPMock" minOccurs="0" name="PlayerData" nillable="true" type="q2:PlayerData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SetPlayerDataRequest" nillable="true" type="tns:SetPlayerDataRequest" />
  <xs:complexType name="SetJackpotInfoRequest">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="JackpotIds" nillable="true" type="q3:ArrayOfint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SetJackpotInfoRequest" nillable="true" type="tns:SetJackpotInfoRequest" />
</xs:schema>