LayoutTool/src/Interfaces/Service References/MainProxyDataControlService/DataControlService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DataControlService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/MainProxyMock/DataControlService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/MainProxyMock/DataControlService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/MainProxyMock/DataControlService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MainProxyMock" />
      <xsd:import schemaLocation="http://localhost/MainProxyMock/DataControlService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GGPGameServer.Simulations.GGPMock" />
      <xsd:import schemaLocation="http://localhost/MainProxyMock/DataControlService?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDataControlService_IsAlive_InputMessage">
    <wsdl:part name="parameters" element="tns:IsAlive" />
  </wsdl:message>
  <wsdl:message name="IDataControlService_IsAlive_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsAliveResponse" />
  </wsdl:message>
  <wsdl:message name="IDataControlService_GetServerInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServerInfo" />
  </wsdl:message>
  <wsdl:message name="IDataControlService_GetServerInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServerInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IDataControlService_GetPlayerData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerData" />
  </wsdl:message>
  <wsdl:message name="IDataControlService_GetPlayerData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerDataResponse" />
  </wsdl:message>
  <wsdl:message name="IDataControlService_SetPlayerData_InputMessage">
    <wsdl:part name="parameters" element="tns:SetPlayerData" />
  </wsdl:message>
  <wsdl:message name="IDataControlService_SetPlayerData_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetPlayerDataResponse" />
  </wsdl:message>
  <wsdl:message name="IDataControlService_SetJackpotInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:SetJackpotInfo" />
  </wsdl:message>
  <wsdl:message name="IDataControlService_SetJackpotInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetJackpotInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="IDataControlService">
    <wsdl:operation name="IsAlive">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataControlService/IsAlive" message="tns:IDataControlService_IsAlive_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataControlService/IsAliveResponse" message="tns:IDataControlService_IsAlive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetServerInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataControlService/GetServerInfo" message="tns:IDataControlService_GetServerInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataControlService/GetServerInfoResponse" message="tns:IDataControlService_GetServerInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayerData">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataControlService/GetPlayerData" message="tns:IDataControlService_GetPlayerData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataControlService/GetPlayerDataResponse" message="tns:IDataControlService_GetPlayerData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetPlayerData">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataControlService/SetPlayerData" message="tns:IDataControlService_SetPlayerData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataControlService/SetPlayerDataResponse" message="tns:IDataControlService_SetPlayerData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetJackpotInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataControlService/SetJackpotInfo" message="tns:IDataControlService_SetJackpotInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataControlService/SetJackpotInfoResponse" message="tns:IDataControlService_SetJackpotInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDataControlService" type="tns:IDataControlService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsAlive">
      <soap:operation soapAction="http://tempuri.org/IDataControlService/IsAlive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServerInfo">
      <soap:operation soapAction="http://tempuri.org/IDataControlService/GetServerInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlayerData">
      <soap:operation soapAction="http://tempuri.org/IDataControlService/GetPlayerData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPlayerData">
      <soap:operation soapAction="http://tempuri.org/IDataControlService/SetPlayerData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetJackpotInfo">
      <soap:operation soapAction="http://tempuri.org/IDataControlService/SetJackpotInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataControlService">
    <wsdl:port name="BasicHttpBinding_IDataControlService" binding="tns:BasicHttpBinding_IDataControlService">
      <soap:address location="http://localhost/MainProxyMock/DataControlService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>