Portal/Client/Head/src/Services/Service References/GamesPortalService/GamesPortalService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8687/GamesPortalService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GamesPortal.Service" />
  <xs:element name="GetAllGames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GamesPortal.Service" minOccurs="0" name="GetAllGamesResult" nillable="true" type="q1:GetAllGamesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGameVersions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GamesPortal.Service" minOccurs="0" name="request" nillable="true" type="q2:GetGameVersionsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGameVersionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GamesPortal.Service" minOccurs="0" name="GetGameVersionsResult" nillable="true" type="q3:GetGameVersionsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestApprovedVersionForEachGame">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestApprovedVersionForEachGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GamesPortal.Service" minOccurs="0" name="GetLatestApprovedVersionForEachGameResult" nillable="true" type="q4:GetLatestApprovedVersionForEachGameResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResyncGames">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GamesPortal.Service" minOccurs="0" name="request" nillable="true" type="q5:ResyncGamesRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResyncGamesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>