Portal/Client/Head/src/Services/Service References/GamesPortalService/GamesPortalService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/GamesPortal.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GamesPortal.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8687/GamesPortalService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GamesPortal.Service.Entities" />
  <xs:import schemaLocation="http://localhost:8687/GamesPortalService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:8687/GamesPortalService?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="GetAllGamesResponse">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GamesPortal.Service.Entities" minOccurs="0" name="Games" nillable="true" type="q1:ArrayOfGameEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAllGamesResponse" nillable="true" type="tns:GetAllGamesResponse" />
  <xs:complexType name="GetGameVersionsRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="GameID" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetGameVersionsRequest" nillable="true" type="tns:GetGameVersionsRequest" />
  <xs:complexType name="GetGameVersionsResponse">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GamesPortal.Service.Entities" minOccurs="0" name="GameVersions" nillable="true" type="q2:ArrayOfGameVersionEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetGameVersionsResponse" nillable="true" type="tns:GetGameVersionsResponse" />
  <xs:complexType name="GetLatestApprovedVersionForEachGameResponse">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GamesPortal.Service.Entities" minOccurs="0" name="LatestApprovedGamesVersions" nillable="true" type="q3:ArrayOfLatestApprovedGameVersionEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetLatestApprovedVersionForEachGameResponse" nillable="true" type="tns:GetLatestApprovedVersionForEachGameResponse" />
  <xs:complexType name="ResyncGamesRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="External" type="xs:boolean" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GameTypes" nillable="true" type="q4:ArrayOfint" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GamesPortal.Service.Entities" minOccurs="0" name="Technology" type="q5:GameTechnology" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResyncGamesRequest" nillable="true" type="tns:ResyncGamesRequest" />
</xs:schema>