Portal/Client/Head/src/Models/Service References/GamesPortalApprovalService/GamesPortalApprovalService52.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/GamesPortalApprovalService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GamesPortal.Service" />
  <xs:element name="GetAvailableQAApprovalStates">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableQAApprovalStatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GamesPortal.Service" minOccurs="0" name="GetAvailableQAApprovalStatesResult" nillable="true" type="q1:GetAvailableQAApprovalStatesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailablePMApprovalStates">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailablePMApprovalStatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GamesPortal.Service" minOccurs="0" name="GetAvailablePMApprovalStatesResult" nillable="true" type="q2:GetAvailablePMApprovalStatesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QAApprove">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GamesPortal.Service" minOccurs="0" name="request" nillable="true" type="q3:QAApproveRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QAApproveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PMApprove">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GamesPortal.Service" minOccurs="0" name="request" nillable="true" type="q4:PMApproveRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PMApproveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LanguageApprove">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GamesPortal.Service" minOccurs="0" name="request" nillable="true" type="q5:LanguageApproveRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LanguageApproveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ForceSynchronization">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ForceSynchronizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GamesPortal.Service" minOccurs="0" name="ForceSynchronizationResult" nillable="true" type="q6:ForceSynchronizationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ForceGameSynchronization">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/GamesPortal.Service" minOccurs="0" name="request" nillable="true" type="q7:ImplicitForceGameSynchronizationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ForceGameSynchronizationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ForceLanguageSynchronization">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/GamesPortal.Service" minOccurs="0" name="request" nillable="true" type="q8:ForceLanguageSynchronizationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ForceLanguageSynchronizationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>