DeveloperTool/src/TfsExplorer/Models/Service References/DeveloperToolService/devtools32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/GGPApprovalSystem/qa/devtools.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GGPGameServer.ApprovalSystem.DeveloperTool" />
  <xs:element name="BeginBuild">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GGPGameServer.ApprovalSystem.DeveloperTool" minOccurs="0" name="request" nillable="true" type="q1:BeginBuildRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BeginBuildResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GGPGameServer.ApprovalSystem.DeveloperTool" minOccurs="0" name="BeginBuildResult" nillable="true" type="q2:BeginBuildResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndBuild">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GGPGameServer.ApprovalSystem.DeveloperTool" minOccurs="0" name="request" nillable="true" type="q3:EndBuildRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndBuildResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestVersionForEachComponent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GGPGameServer.ApprovalSystem.DeveloperTool" minOccurs="0" name="request" nillable="true" type="q4:GetComponentsLatestVersionRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestVersionForEachComponentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GGPGameServer.ApprovalSystem.DeveloperTool" minOccurs="0" name="GetLatestVersionForEachComponentResult" nillable="true" type="q5:GetComponentsLatestVersionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductionEnvironments">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductionEnvironmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GGPGameServer.ApprovalSystem.DeveloperTool" minOccurs="0" name="GetProductionEnvironmentsResult" nillable="true" type="q6:GetProductionEnvironmentsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductionInstallers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/GGPGameServer.ApprovalSystem.DeveloperTool" minOccurs="0" name="request" nillable="true" type="q7:GetProductionInstallersRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductionInstallersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/GGPGameServer.ApprovalSystem.DeveloperTool" minOccurs="0" name="GetProductionInstallersResult" nillable="true" type="q8:GetProductionInstallersResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQAInstallers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/GGPGameServer.ApprovalSystem.DeveloperTool" minOccurs="0" name="request" nillable="true" type="q9:GetQAInstallersRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQAInstallersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/GGPGameServer.ApprovalSystem.DeveloperTool" minOccurs="0" name="GetQAInstallersResult" nillable="true" type="q10:GetQAInstallersResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstallerContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/GGPGameServer.ApprovalSystem.DeveloperTool" minOccurs="0" name="request" nillable="true" type="q11:GetInstallerContentRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstallerContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/GGPGameServer.ApprovalSystem.DeveloperTool" minOccurs="0" name="GetInstallerContentResult" nillable="true" type="q12:GetInstallerContentResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextHotfixVersions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/GGPGameServer.ApprovalSystem.DeveloperTool" minOccurs="0" name="request" nillable="true" type="q13:GetHotfixVersionsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextHotfixVersionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/GGPGameServer.ApprovalSystem.DeveloperTool" minOccurs="0" name="GetNextHotfixVersionsResult" nillable="true" type="q14:GetHotfixVersionsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenameGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/GGPGameServer.ApprovalSystem.DeveloperTool" minOccurs="0" name="request" nillable="true" type="q15:RenameGameRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenameGameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>