Portal/Server/Head/src/Tools/Service References/BuildMachineAdapterService/buildMachineAdapter1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GamesPortal.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GamesPortal.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ExplicitForceGameSynchronizationRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="GameType" type="xs:int" />
      <xs:element minOccurs="0" name="GamesFolderName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RepositoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VersionFolder" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExplicitForceGameSynchronizationRequest" nillable="true" type="tns:ExplicitForceGameSynchronizationRequest" />
</xs:schema>