Portal/Server/Head/src/Tools/Service References/BuildMachineAdapterService/buildMachineAdapter2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/buildMachineAdapter?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GamesPortal.Service" />
  <xs:element name="ForceGameSynchronization">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GamesPortal.Service" minOccurs="0" name="request" nillable="true" type="q1:ExplicitForceGameSynchronizationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ForceGameSynchronizationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>